<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhss.sjlm">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.activity.PersonData" />
        <activity android:name=".ui.activity.NickActivity" />
        <activity android:name=".ui.activity.TruenameActivity" />
        <activity android:name=".ui.activity.PersonDesActivity" />
        <activity android:name=".ui.activity.AddressActivity" />
        <activity android:name=".ui.activity.NewAddressActivity" />
        <activity android:name=".ui.activity.RegistAddressActivity" />
        <activity android:name=".ui.activity.MyWalletActivity"/>
        <activity android:name=".ui.activity.WithDrawAativity"/>
        <activity android:name=".ui.activity.WithDrawInfoAativity"/>
        <activity android:name=".ui.activity.UpActivity"/>
        <activity android:name=".ui.activity.DetailAvtiviy"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.activity.EditeAddress" />
    </application>

</manifest>